h1{
    color :rgb(8, 1, 8);
    background :rgb(15, 12, 12);
    background-image: url("images/wp2610908.webp"); 
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color :rgb(15, 15, 15);
    font-family: 'Courier New', Courier, monospace;
}

.grid{
    display : flex;
    justify-content :space-evenly;
    flex-wrap : wrap;
}

.mapBox {
    border-radius: 20px;
    background-color :white;

    width :610px;
    font-family: fantasy;

    color: black;
    box-shadow: -5px -5px;

    cursor:help;

        position :relative;
}

.menu {
    display :flex;
    justify-content :space-between;
    background-color :black;
    font-size : 20px;
    font-family : sans-serif;
    font-weight :400;
    color : white;
}

.footer{
    display : flex;
    justify-content : flex-end;
}